.menu {
  width: 46px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: fixed;
  left: 0;
  top: 25%;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all linear 0.2s;
  overflow: hidden;
  z-index: 120;

  &:hover {
    width: 180px;
    transition: all linear 0.2s;
    cursor: pointer;
  }
}

.menu-item {
  color: var(--color-white);
  width: max-content;
  display: flex;
  align-items: center;
  padding: 2px 0;
  gap: 10px;
}

.menu-icon {
  font-size: 30px;
}

.menu-title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
